.main-jogo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 300px;

    iframe {
        width: 900px;
        height: 507px;
    }

    p {
        display: none;
    }
}

@media (min-width: 2000px) {
    footer {
        margin-top: 500px;
    }
}



@media (max-width: 1000px) {
    .main-jogo {
        margin: 150px 0;

        iframe {
            display: none;

        }

        section {
            text-align: center;
            width: 90%;

            p {
                display: block;
                background-color: #0009;
                padding: 40px 30px;
                border-radius: 10px;

            }

            i {
                color: red;
                font-size: 20px;
            }
        }
    }

}