.main-jogo {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 150px;

    iframe {
        width: 900px;
        height: 507px;
    }

    p {
        display: none;
    }
}

@media (max-width: 1000px) {
    .main-jogo {
        margin: 150px 0;

        iframe {
            display: none;

        }

        section {
            text-align: center;

            p {
                display: block;
                background-color: #0009;
                padding: 40px 30px;
                border-radius: 10px;
            }

            i {
                color: red;
                font-size: 20px;
            }
        }
    }

}