.main-sobre {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 35px;
    }

    article:first-child {
        margin-bottom: 100px;
    }

    article {
        width: 800px;
        background-color: #0009;
        padding: 30px;
        border-radius: 20px;
        line-height: 30px;
        letter-spacing: 2px;
        font-size: 20px;

        h2 {
            text-align: center;
        }

        p {
            padding-top: 20px;
            margin: 0 auto;

        }

        .btn-play {
            margin: 20px auto;

        }
    }

}


@media (max-width: 500px) {
    .main-sobre {
        h2 {
            font-size: 16px;
        }

        article {
            width: 90%;

            .par {
                font-size: 10px;
            }
        }


    }
}

@media (max-width: 800px) {
    .main-sobre {
        h2 {
            font-size: 20px;
        }

        article {
            width: 400px;

            .par {
                font-size: 10px;
            }
        }


    }
}