@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor-fundo: #00232e;
}

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background: url(img/fundo.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

a {
    text-decoration: none;
    color: #fff;
}

.title {
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0px 3px #000);
    box-shadow: 0px 3px 1px #fff;
    max-width: max-content;
}

.btn-header {
    background-color: #e56f06;
    padding: 7px 10px;
    border-radius: 5px;
    transition: all .5s;
    color: #fff;
    font-weight: bold;
}

.btnScrollTop {
    font-size: 20px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    background-color: #3a120599;
    border-radius: 10px;
    position: fixed;
    cursor: pointer;
    transition: background-color .7s;
}

.btnScrollTop:hover {
    background-color: #3a1205;
}

.btn-header:hover{
    box-shadow: 4px 4px 6px 1px #fff;

}



header.scrolled {
    opacity: 0.7;
}

header {
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 0px 15px 5px #000;
    box-sizing: border-box;

    .header_div {
        display: flex;
        align-items: center;
        margin: 0 50px;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 100px;
        }

        ul {
            list-style: none;
            display: flex;

            .btn-headerli {
                margin: 0 25px;
                transition: all .8s;

                .btn-header {
                    text-decoration: none;
                    transition: all .8;
                }
            }

            .btn-headerli:hover {
                transform: translate(5px, 5px);
            }
        }
    }

    .navbar-mobile {
        display: none;
    }

    #navbar-icon {
        display: none;
    }
}


.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;

    img {
        width: 50%;
    }

    .title {
        margin-top: 80px;
        margin-bottom: 20px;
        font-size: 30px;
    }

    article {
        text-align: center;
        padding: 20px 15px;
        font-size: 25px;
        background-color: #0009;
        border-radius: 10px;

        p {
            margin: 30px 0;
        }

        a {
            text-decoration: none;

        }
    }
}

.btn-play {
    background-color: red;
    font-size: 20px;
    padding: 3px 12px;
    max-width: max-content;
    margin: 0 auto;
    border-radius: 40px;
    animation: jogar .8s infinite alternate;
    font-weight: bold;

    a {
        color: #fff;
        text-decoration: none;
    }
}

@keyframes jogar {
    from {
        transform: scale(60%);
        background-color:#ff000088;
        color: #aaa;

    }

    do {
        transform: scale(100%);
    }
}

/* INICIO RODAPÉ */
footer {
    box-shadow: 0 0 15px 5px #000;
    padding: 75px;
    background-size: cover;
    text-align: center;

    p {
        font-size: 24px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: #fff;
        font-size: 30px;
        margin-left: 10px;
    }

    i {
        padding: 5px;
        border-radius: 5px;
        transition: all .5s;
    }

    i:hover {
        transform: scale(120%);
        box-shadow: 0 0 6px 3px #fff;
    }

    .fa-instagram {
        background-color: #fe2879;
    }

    .fa-linkedin {
        background-color: #0576b4;
    }

    .fa-github {
        background-color: #000;
    }
}

/* FIM RODAPÉ */

@media (max-width: 1300px) {
    .main-index {
        img {
            width: 80%;
        }
    }
}

@media (max-width: 920px) {
    header {
        .navbar-desktop {
            display: none;
        }

        #navbar-icon {
            display: block;
            position: absolute;
            right: 25px;
            font-size: 20px;
        }
    }

    .navbar-mobile.active {
        display: block;
    }

    .navbar-mobile {
        position: absolute;
        right: 50px;
        top: 50px;

        ul {
            font-size: 16px;
            flex-direction: column;
            gap: 30px;
            position: absolute;
            right: 10px;
            background-color: #0008;
            box-shadow: 0 0 8px 1px #fff;
            padding: 30px 0px;
            border-radius: 5px;
            text-align: center;

            .btn-headerli {

                width: 120px;
            }
        }
    }


    .main-index {
        article {
            font-size: 14px;
            width: 80%;
        }
    }

    footer {
        a {
            font-size: 20px;
            margin-left: 10px;
        }
    }
}

@media (max-width: 500px) {

    .main-index {
        .title {
            background-color: #0005;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 2px 2px #fff;
            font-size: 20px;
        }
    }

    header {
        .logo {
            width: 50px;
        }
    }

    .main-index {
        img {
            width: 80%;
        }
    }

    footer {
        padding: 40px 0;
        top: 0;

        p {
            font-size: 16px;
        }
    }
}