@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor-fundo: #00232e;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: url(img/fundo.png) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.content {
    max-width: 95%;
    margin: auto;
}

.btn-header {
    border: 2px solid #fff;
    padding: 7px 10px;
    border-radius: 5px;
    transition: all 1s;
}

.btn-header:hover {
    background-color: #121d1a;
    color: #aaa;
}

header.scrolled {
    opacity: 0.7;
}

header {
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 15px 5px #000;

    .header_div {
        display: flex;
        align-items: center;
        margin: 0 50px;
        display: flex;
        justify-content: space-between;

        .logo {
            width: 100px;
            /* height: 50px; */
        }

        ul {
            list-style: none;
            display: flex;

            li {
                margin: 0 25px;
                transition: all 1s;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: all .5;
                }
            }

            li:hover {
                transform: translate(5px, 5px);
            }
        }
    }

    .navbar-mobile {
        display: none;
        position: absolute;
        top: 20px;
    }
}

.main-index {
    display: flex;
    align-items: center;
    margin: 100px 0;
    flex-direction: column;


    article {
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}

.btn-play {
    background-color: #fff;
    padding: 5px 10px;
    width: 40px;
    margin: 0 auto;
    border-radius: 5px;
    animation: jogar .8s infinite alternate;
    font-weight: bold;

    a {
        color: #000;
        text-decoration: none;
    }
}

@keyframes jogar {
    from {
        transform: scale(60%);
    }

    do {
        transform: scale(120%);
    }
}

/* INICIO RODAPÉ */
footer {
    box-shadow: 0 0 15px 5px #000;
    padding: 75px;
    /* background: url(img/planoFundo.png) no-repeat;    */
    background-size: cover;
    text-align: center;

    img {
        width: 200px;
    }

    p {
        font-size: 24px;

        a {
            text-decoration: none;
            color: #fff;
            transition: all .5s;
        }

        a:hover {
            color: #aaa;
        }
    }
}

/* FIM RODAPÉ */

@media (max-width: 500px) {
    header {
        .logo {
            width: 50px;
        }
    }
}


@media (max-width: 870px) {
    header {
        .navbar-desktop {
            display: none;

            ul {
                font-size: 10px;
                flex-direction: column;
                gap: 20px;
                position: absolute;
                top: 50px;
                right: 10px;
                box-shadow: 0 0 10px 10px #000;
                padding: 10px;

                li {
                    a {
                        border: none;
                    }
                }
            }
        }


        .navbar-mobile {
            display: block;
            position: absolute;
            right: 20px;
        }

    }

    .main-index {
        video {
            width: 90%;
        }
    }

}